extends layout

block content
        h3 #{title}
        div.row
            each article, i in articles
                div.col-md-4.mt-5
                    h4 #{article.title}
                    div #{article.author}
                    p(style="min-height: 96px; margin-top: 5px") #{article.displayText}
                    a.btn.btn-primary(href=`api/articles/${article._id}`) Read more

